body{
    margin: 0;
    padding: 0;
    background-color: rgb(211, 253, 21);
}
h1{
    color: red;
}
li{
    color: rgb(68, 194, 194);
}
h2{
    color: rgb(232, 206, 43);
}
q{
    color: rgb(124, 65, 23);
}