body{
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 700;
    font-style: italic;
    margin: 1%;
}
.header {
    display: flex;
    border-bottom: 1px solid #000;
   gap:5%;
}
.logo {
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
    background-color: blue;
    text-align: center;
    margin: 1%;
}
ul {
    display: grid;
    list-style-type: none;
    gap: 1%;
    grid-template-columns: repeat(4,1fr);
}
ul > li:not(:last-child) {
    margin-right: 30px;
}
.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}
.aside {
  background-color: lavender;
  padding: 10px 20px;
}
.post {
    padding-bottom: 20px;
    border-radius: 2px;
}
section{
    padding: 5px 20px;
    background-color:  lavender;
    margin-bottom: 20px;
}
.footer{
    padding: 0 20px;
}
.link{
    background-color: rebeccapurple;
    color: white;
    padding: 8px 15px;
    display: block;
}
.i{
   background-color: moccasin;
}
.results{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}